name: Build and Push CRM Image

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to GHCR
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build Backend Image
        run: docker build -t ghcr.io/heisenity/crm-backend:latest ./backend

      - name: Push Backend Image
        run: docker push ghcr.io/heisenity/crm-backend:latest

      - name: Build Frontend Image
        run: docker build -t ghcr.io/heisenity/crm-frontend:latest ./frontend

      - name: Push Frontend Image
        run: docker push ghcr.io/heisenity/crm-frontend:latest
